/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-size: 12px;
}

html, body {
    height: 100%;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.faded {
    opacity:    0.5; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed; 
}


.section-header {
    height: 80px;
}

.list-panel {
    overflow: auto;
    height: 88.5vh;
}

.channel-plot {
  height: 250px;
}

.detailed-channel-plot {
  height: 350px !important;
}

.locus-bins-plot {
  height: 250px;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
  stroke-opacity: .3;
}

.x.axis text, .y.axis text, .plot-label {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8px;
  fill: #bababa;
}

.x.axis path {
  fill: none;
  display: none;
}

.x.axis.show path {
  stroke: #bababa;
  display: inline;
  stroke-opacity: .3;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #bababa;
  stroke-opacity: .4;
}

.y.axis path {
  display: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
  stroke-width: 4.5;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*d3 context menu*/
.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;

  z-index:1200;
}

.d3-context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.d3-context-menu ul li {
  padding: 4px 16px;
}

.d3-context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}