<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a [routerLink]="['PlasmoMapper']">PlasmoMapper</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.ucsf.greenhouselab.edu">Greenhouse Lab 2016</a></li>
            </ul>
        </div>
        <!--<div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
            </ul>
        </div>-->
    </div>
</nav>
<router-outlet></router-outlet>