-i https://pypi.org/simple
altgraph==0.16.1
Click==7.0
dnspython==1.16.0
Flask==1.0.2
Flask-Script==2.0.6
Flask-SocketIO==3.1.2
Flask-SQLAlchemy==2.3.2
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.10
macholib==1.11
MarkupSafe==1.1.0
marshmallow==2.17.0
marshmallow-sqlalchemy==0.15.0
monotonic==1.5
numpy==1.15.4
pefile==2018.8.8
PyInstaller==3.4
python-engineio==3.8.2.post1
python-socketio==3.1.0
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
sklearn==0.0
SQLAlchemy==1.2.15
ujson==1.35
Werkzeug==0.14.1
